
# HTID:649159: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value SMTP 'smtp-mail.outlook.com'
php_value smtp_port '587'
php_value sendmail_from 'paulo_chm@hotmail.com'
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:649159:

    Options -Indexes 



RewriteEngine On

# RewriteRule ^login?$ /platform/beta/0-6/index.php?page=login

RewriteRule ^home?$ /artecasa/index.php?page=home
RewriteRule ^diferenciais?$ /artecasa/index.php?page=diferenciais
RewriteRule ^empresa?$ /artecasa/index.php?page=empresa
RewriteRule ^contato?$ /artecasa/index.php?page=contato
