
    
<main id="diferenciais">
    <section class="diferenciais-top">
        <div class="bg-fixed" style="background-image: url('http://www.artecasas.com.br/assets/img/site/common/img/banner-top-internas.jpg')"></div>

        <div class="content">
            <div class="diferenciais-top-col">
                <div class="table">
                    <div class="table-cell">
                       <h3> O QUE A ARTE CASAS TEM DE MELHOR? </h3>
                    </div>
                </div>
            </div>
            <div class="diferenciais-top-col">
                <div class="table">
                    <div class="table-cell">
                        <p> <p>
	As pessoas s&atilde;o nosso maior diferencial.</p>
<p>
	S&atilde;o centenas de clientes que solidificam a nossa marca.</p>
<p>
	Nossos colaboradores que buscam a supera&ccedil;&atilde;o e almejam a excel&ecirc;ncia como resultado.</p>
 </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="diferenciais-infos">
                        <div class="cols-boxes cinza">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                A CASA É SUA                            </h3>
                            <div class="row">
                                <p>
	Nossos arquitetos v&atilde;o pensar em seu projeto de forma individual, personalizando sua casa para que tudo fique do seu jeito, atendendo suas reais necessidades.</p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="cols-boxes ">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                EQUIPE MÚLTIPLA                            </h3>
                            <div class="row">
                                <p>
	Cada projeto &eacute; elaborado e executado por um time de profissionais com especialidades que abrangem todas as etapas da constru&ccedil;&atilde;o.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="cols-boxes cinza">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                NEGÓCIO FECHADO                            </h3>
                            <div class="row">
                                <p>
	A n&atilde;o ser que o projeto seja modificado, o pre&ccedil;o fechado, ap&oacute;s iniciada a obra, permanece at&eacute; a entrega da casa pronta.</p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="cols-boxes ">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                FORNECEDORES COM HISTÓRIA                            </h3>
                            <div class="row">
                                <p>
	Nossos fornecedores s&atilde;o parceiros de longa data, garantindo a qualidade dos materiais e a pontualidade na entrega. Utilizamos marcas como Gerdau, Arcellor Mittal, Deca, Tintas Renner, Plasbil, Amanco, Krona, Brasilit, etc.</p>
<p>
	&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="cols-boxes cinza">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                UMA ARTECASAS É PARA TODA A VIDA                            </h3>
                            <div class="row">
                                <p>
	Todas as casas s&atilde;o constru&iacute;das com materiais de qualidade e processos eficientes.</p>
<p>
	&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="cols-boxes ">
                    <div class="box-top">
                        <div class="box-subtop">
                            <h3 class="row">
                                ACOMPANHE SUA OBRA DE ONDE ESTIVER                            </h3>
                            <div class="row">
                                <p>
	Voc&ecirc; pode acompanhar de onde estiver a constru&ccedil;&atilde;o da sua casa, semana a semana, pelo nosso site. Sua obra bem cuidada por nossos supervisores em todas as etapas.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    </section>
    <section class="row clearfix fale-conosco">
        <div class="content contato center">
            <span class="fra-con">AGORA QUE VOCÊ JÁ SABE UM POUCO DA GENTE, QUE TAL<br>CONHECER A NOSSA CASA EM GRAVATAÍ?</span>
            <a href="http://www.artecasas.com.br/pt/contato" class="fale-bt">Fale Conosco</a>
        </div>
    </section>
</main>

<div class="overlay"></div>
<footer class="content center">
    <div class="rodape row">
        <div class="row">
                        <div class="logo-rodape">
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/logo-rodape.png" alt="Arte Casas">
            </div>
            <div class="row">
                <a href="https://www.facebook.com/artecasas" target="_blank" class="logo-face replace">Facebook</a>
            </div>
        </div>
        <div class="row">
            <p class="row texto-rodape">
                <strong>(51) 3484.4939</strong><br>
                Rodovia RS-020, Nº 3969 - Faixa de Taquara - Parada 68 - Gravataí - RS - CEP: 94100-250<br>
                Segunda à sexta-feira - 8h30 às 12h - 13h30 às 18h | Sábados - 8h30 às 12h30 - 13h30 às 16h
            </p>
        </div>
        <div class="row">
            <p class="row direitos">arte casas © 2015. Todos os direitos reservados.</p>
            <a href="http://wtagencia.com.br/" target="_blank" class="logo-wt">
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/logo-wt.png" alt="WT">
            </a>
        </div>
    </div>
</footer>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45959915-1', 'auto');
	  ga('send', 'pageview');

	</script></body>
</html>