
<main id="empresa">
    <section class="row clearfix bg center">
        <div class="row entrada" style="background-image: url('http://www.artecasas.com.br/assets/img/site/common/img/banner-empresar_02.jpg')"></div>
        <div class="content div-cols">
            <div class="box-top">
                <div class="box-subtop">
                    <h3>A gente constrói<br> do jeito que você sonhou.</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="row clearfix center">
        <div class="content-lateral">
                        <div class="col-row relative">
                <h3 class="row">Quem somos</h3>
                <p class="row">
                    <p align="center">
	Somos uma companhia que h&aacute; uma d&eacute;cada busca as melhores solu&ccedil;&otilde;es, projetando com funcionalidade e construindo para obter os melhores resultados. Nosso grupo &eacute; focado na excel&ecirc;ncia dos processos, acreditando que um crescimento sustentado &eacute; feito sem sobressaltos.</p>
                </p>
            </div>
                        <div class="col-row relative">
                <h3 class="row">O que fazemos</h3>
                <p class="row">
                    <p align="center">
	Projetamos e constru&iacute;mos casas personalizadas de madeira e alvenaria em todo o estado do RS e SC.</p>
                </p>
            </div>
                        <div class="col-row relative">
                <h3 class="row">O que queremos</h3>
                <p class="row">
                    <p align="center">
	Ser lembrados pela qualidade de nosso trabalho, assim como pela postura &eacute;tica nas rela&ccedil;&otilde;es. Queremos que nosso cliente seja muito feliz com sua escolha de construir conosco. Proporcionar experi&ecirc;ncias positivas a todos os envolvidos em nosso neg&oacute;cio.</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </p>
            </div>
                    </div>
    </section>
    <section class="row clearfix">
        <div class="content amarelo-content center relative">
            <span class="row f-todas center">10 anos de sonhos <br>realizados.</span>
            <div class="but row">
                <div class="seta-amarela relative"></div>
            </div>
        </div>
    </section>
    <section class="row clearfix center">
        <div class="col-artes relative">
            <figure>
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/artecasa-madeira.png" alt="Arte Casas">                 	
            </figure>
            <div class="icon-lateral"></div>
        </div>	
        <div class="col-artes relative branco">
            <figure>
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/icon-arte.png" alt="Arte Casas">  
                      	
            </figure>
            <div class="icon-lateral"></div>
        </div>	
        <div class="col-artes relative">
            <figure>
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/icon-arte-casas.png" alt="Arte Casas">     
            </figure>
        </div>  
    </section>
    <section class="row clearfix">
                <div class="col-fotos">
            <figure>
                <img src="http://www.artecasas.com.br/assets/uploads/wt_site_empresa/59c27-1.jpg" alt="Arte Casas">	            	
            </figure>
        </div>
                 <div class="col-fotos">
            <figure>
                <img src="http://www.artecasas.com.br/assets/uploads/wt_site_empresa/7d8c6-2.jpg" alt="Arte Casas">	            	
            </figure>
        </div>
                 <div class="col-fotos">
            <figure>
                <img src="http://www.artecasas.com.br/assets/uploads/wt_site_empresa/a98bf-2.jpg" alt="Arte Casas">	            	
            </figure>
        </div>
         </section>
    <section class="row clearfix fale-conosco">
    <div class="content contato center">
        <span class="fra-con">A ARTE CASAS FAZ PARTE DA HISTÓRIA E DA VIDA DE<br> MUITA GENTE. PODE FAZER PARTE DA SUA.</span>
        <a href="http://www.artecasas.com.br/pt/contato" class="fale-bt">Fale Conosco</a>
    </div>
</section></main>

<div class="overlay"></div>
<footer class="content center">
    <div class="rodape row">
        <div class="row">
                        <div class="logo-rodape">
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/logo-rodape.png" alt="Arte Casas">
            </div>
            <div class="row">
                <a href="https://www.facebook.com/artecasas" target="_blank" class="logo-face replace">Facebook</a>
            </div>
        </div>
        <div class="row">
            <p class="row texto-rodape">
                <strong>(51) 3484.4939</strong><br>
                Rodovia RS-020, Nº 3969 - Faixa de Taquara - Parada 68 - Gravataí - RS - CEP: 94100-250<br>
                Segunda à sexta-feira - 8h30 às 12h - 13h30 às 18h | Sábados - 8h30 às 12h30 - 13h30 às 16h
            </p>
        </div>
        <div class="row">
            <p class="row direitos">arte casas © 2015. Todos os direitos reservados.</p>
            <a href="http://wtagencia.com.br/" target="_blank" class="logo-wt">
                <img src="http://www.artecasas.com.br/assets/img/site/common/img/logo-wt.png" alt="WT">
            </a>
        </div>
    </div>
</footer>
<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45959915-1', 'auto');
	  ga('send', 'pageview');

	</script></body>
</html>